*{
    font-family: "Nunito Sans", sans-serif;
}

/*Header*/
header{
    background-color: #EEEEEE;
}

header span{
    color:#201E43; 
}

.nav-item a{
    color:#134B70; 
}

/*Link visitado*/
.nav-item a:visited{
    color:#134B70; 
}

.nav-item a:hover{
    color: #508C9B; 
}

#nav-button{
    background-color: #508C9B;
}

#rounded{
    border-radius: 100px;
}

/*
.sobre-mi{
    background-image:url("/bg2.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
}
*/

/*Ícono Desarrollo Web*/
.icon-square .bi{
    color:#134B70;
    width: auto;
    /*border-radius: 20px;*/
}


.img-proyecto1{
    background-image: url('assets/pinterest3.png');
    background-repeat: no-repeat; 
    background-size: 600px;
    background-blend-mode: screen;
}


.img-proyecto1 h3{
    color:#134B70; 
}

.img-proyecto3{
    background-image: url('assets/RPG.jpg');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 550px;
    background-blend-mode: screen;
}

.img-proyecto3 h3{
    color:#134B70; 
}

#habilidades{
    background-color: #EEEEEE; 
}

.icon-square .bi{
    background-color: #134B70;
    color: beige;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 1.5em;
    text-align: center;
    padding: 4px;
}

/*Footer*/
footer .icon-footer i{
    color: #508C9B; 
}

footer p{
    color: #508C9B
}
footer p a{
    text-decoration:none;
}

/*Favicon*/

.page-icon{
    color:pink;
}



